footer,
header,
nav,
section {
    display: block
}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

body {
    font: 14px/22px 'Quattrocento Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #666;
    font-weight: 300;
    margin: 0px;
    padding: 0px 0 20px 0px
}

h1 {
    color: #333;
    margin: 0 0 10px
}

a {
    color: #3399cc;
    font-weight: 400;
    text-decoration: none
}

a small {
    font-size: 11px;
    color: #666;
    margin-top: -0.6em;
    display: block
}

a strong {
    font-size: 20px;
    font-weight: bold;
    color: #333
}

strong {
    font-weight: bold;
    color: #333
}

.wrapper {
    width: 650px;
    margin: 0 auto;
    position: relative;
}

header {
    padding: 25px 20px 40px 20px;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    background: #4276b6;
    box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.75);
    z-index: 99;
    -webkit-font-smoothing: antialiased;
    min-height: 76px
}

header p {
    color: #d8d8d8;
    font-size: 18px;
    margin: 0px
}

section {
    width: 590px;
    padding: 30px 30px 50px 30px;
    margin: 20px 0;
    margin-top: 240px;
    position: relative;
    background: #fbfbfb;
    border-radius: 3px;
    border: 1px solid #cbcbcb;
}

small {
    font-size: 12px
}

img {
    height: 75px;
    border-style: solid;
    border-radius: 37px
}

nav {
    width: 230px;
    position: fixed;
    top: 250px;
    left: 50%;
    margin-left: -580px;
    text-align: right;
}

nav ul {
    list-style: none;
    list-style-image: none;
    font-size: 14px;
    line-height: 24px
}

nav ul li {
    padding: 5px 0px;
    line-height: 16px
}

footer {
    width: 180px;
    position: fixed;
    left: 50%;
    margin-left: -530px;
    bottom: 20px;
    text-align: right;
    line-height: 16px
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}